@layout.app()
  @slot('main')
    @form({ action:route('item.store') })
      @each(category in categories)
        {{ category.name }}
      @end
      <input type="text" name="name" class="bg-amber-200">
      <input type="text" name="description" class="bg-amber-300">
      <button type="submit">Criar</button>
    @end
  @end
@end
