@layout.app({ title: index})

@slot('main')
  @each(item in items)
    <ul>
      <b>Nome:</b> {{ item.name }}
      <b>Description:</b> {{ item.description }}
      <a href="{{ route('item.show', [item.id]) }}">ver</a>
    </ul>
  @end
@end

@end
