<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title || "Cain Store" }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <main>
    {{{ await $slots.main() }}}
  </main>
</body>
</html>
