<!DOCTYPE html>
<html>
<head>
  <title>Produtos</title>
  <meta charset="UTF-8">
</head>
<body>
  <form action="{{ route('item.store') }}" method="post">
    <span>Pode nao man</span>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
